#root {
	max-width: none;
	margin: 0;
	padding: 0;
	text-align: initial;
}
.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.app-main {
	flex: 1;
	padding: 2rem;
}
.app-main.home {
	padding: 0;
}
.home-blank {
	min-height: 100%;
	background: #fff;
}
